* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 0.9vw;
}
html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Kumbh Sans", sans-serif;
}
header {
  width: 100%;
  height: 4.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.logo-link {
  margin-left: 1.875rem;
}
.menu-burger {
  margin-right: 1.875rem;
  width: 1.88rem;
  cursor: pointer;
}
.menu-burger > img {
  width: 100%;
}
.logo {
  width: 5.94rem;
}
.logo > img {
  width: 100%;
}
footer {
  background: #e4e4e4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  width: 80%;
  margin: 3.2rem auto;
  display: flex;
  justify-content: space-between;
}
.footer-address-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.87rem;
}
.footer-left {
  display: flex;
  flex-direction: column;
}
.footer-address {
  display: flex;
  font-size: 1rem;
}
.footer-address-left {
  margin-right: 8rem;
  line-height: 1.3rem;
}
.footer-address-right {
  line-height: 1.3rem;
}
.footer-address-right a {
  text-decoration: none;
  color: #000;
}
.footer-ico {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 1.4rem;
}
.footer-ico img {
  width: 100%;
  filter: invert(1);
}
.footer-ico:hover img {
  filter: invert(42%) sepia(51%) saturate(5034%) hue-rotate(223deg)
    brightness(98%) contrast(103%);
}

.footer-right {
  display: flex;
}
.container {
  min-height: 100vh;
  width: 100%;
}
.top-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.top-test-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
#myVideo {
  min-width: 100%;
  min-height: 100%;
}
.who-we-are {
  position: relative;
  width: 100%;
  min-height: 110vh;
  background-color: #020611;
  background-image: url("../imgs/about-bg3x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  overflow: hidden;
}
.who-we-are-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.who-we-are-planet {
  width: 5.5rem;
  margin-right: 0.5rem;
}
.who-we-are-planet > img {
  width: 100%;
}
@keyframes bounce {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  50% {
    transform: translate3d(0px,-1.2rem, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0) ;
  }
}
.austronaut {
  position: absolute;
  right: -3rem;
  top: 7.75rem;
  width: 21.7rem;
  height: 27.9rem;
  animation: bounce 4s linear infinite;
}
.austronaut img {
  width: 100%;
  height: 100%;
}
.who-we-are-top {
  display: flex;
  align-items: center;
  width: 76%;
  margin: 3.2rem auto;
  font-weight: bold;
  font-size: 1.125rem;
  justify-content: space-between;
}
.who-we-are-goto {
  text-decoration: none;
  color: #f274cc;
  display: flex;
  line-height: 1.87rem;
  justify-content: center;
  align-items: center;
  position: relative;
}
.arrow-icon {
  margin-left: 0.5rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in;
}
.arrow-icon img {
  width: 100%;
}
/* .arrow-icon-short {
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background: #020611;
  transition: 0.3s ease-in;
  z-index: 5;
} */
.who-we-are-logo {
  color: #fff;
}
.who-we-are-goto:hover {
  color: #5966fd;
}
.who-we-are-goto:hover .arrow-icon > img {
  filter: brightness(0) invert(1);
}
.who-we-are-goto:hover .arrow-icon {
  transform: scaleX(0.7);
}
/* .who-we-are-goto:hover .arrow-icon > .arrow-icon-short {
  width: 0.5rem;
} */
.who-we-are-content {
  position: relative;
  width: 65%;
  margin: 6.25rem auto;
  display: flex;
  align-items: center;
}
.team-pic {
  width: 29rem;
  height: 38rem;
}
.team-pic > img {
  width: 100%;
  height: 100%;
}
.about-scorpio-text-wrapper {
  color: #fff;
  width: 38rem;
  margin-left: 8rem;
}
.about-scorpio-heading {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 2.5rem;
  letter-spacing: 0.08rem;
}
.about-scorpio-reg-text {
  font-size: 1.1rem;
  line-height: 1.9rem;
  margin-bottom: 1rem;
  letter-spacing: 0.08rem;
}
.hello-text {
  position: absolute;
  font-size: 4.8rem;
  font-weight: bold;
  color: #fff;
  opacity: 60%;
  left: 13rem;
  top: 10.3rem;
  background: -webkit-linear-gradient(rgb(165, 165, 165), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.what-we-offer {
  width: 100%;
  height: 100vh;
  background: #2b2b2b;
}
.partners {
  background: url("../imgs/partners-bg3x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 39rem;
  position: relative;
}
.partners-top {
  width: 76%;
  display: flex;
  margin: 0 auto;
  padding-top: 4rem;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.125rem;
}
.partners-logo {
  width: 5.5rem;
  margin-right: 0.5rem;
}
.partners-logo > img {
  width: 100%;
}
.partner-logos-slider {
  position: absolute;
  width: 70%;
  height: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners-logos {
  height: 5rem;
}
.logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  margin: 0 auto;
  height: 100%;
}
.logo-item > img {
  width: 100%;
}
.slick-prev {
  display: none !important;
}
.slick-next {
  width: 3.4rem !important;
  height: 1.4rem !important;
  background-image: url("../imgs/arrow-next.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 0.3s;
}
.slick-next:before {
  content: "" !important;
}
/* .slick-next:hover {
  background: url("../imgs/arrow-next-hover.svg") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
} */

.slick-next:focus {
  background: url("../imgs/arrow-next.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translate(0, -50%) scaleX(1);
  filter: none;
}

.slick-next:hover {
  background-image: url("../imgs/arrow-next.svg") !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translate(0, -50%) scaleX(0.7);
  filter: brightness(0) invert(1);
}
.portfolio {
  position: relative;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #020611;
}
.portfolio-top {
  display: flex;
  align-items: center;
  width: 76%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.125rem;
  justify-content: space-between;
}
.portfolio-goto {
  text-decoration: none;
  color: #f274cc;
  display: flex;
  line-height: 1.87rem;
  justify-content: center;
  align-items: center;
  position: relative;
}
.portfolio-arrow-icon {
  margin-left: 0.5rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in;
}
.portfolio-arrow-icon img {
  width: 100%;
}
/* .portfolio-arrow-icon-short {
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background: #020611;
  transition: 0.3s ease-in;
  z-index: 5;
} */

.portfolio-goto:hover {
  color: #5966fd;
}
.portfolio-goto:hover .portfolio-arrow-icon > img {
  filter: brightness(0) invert(1);
}
.portfolio-goto:hover .portfolio-arrow-icon {
  transform: scaleX(0.7);
}
/* .portfolio-goto:hover .portfolio-arrow-icon > .portfolio-arrow-icon-short {
  width: 0.5rem;
} */
.portfolio-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.portfolio-planet {
  width: 5.5rem;
  margin-right: 0.5rem;
}
.portfolio-planet > img {
  width: 100%;
}

.portfolio-container {
  width: 100%;
  height: 65rem;
  overflow-x: hidden;

  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.portfolio-section {
  height: 18rem;
  width: 100%;
  position: relative;
}
.portfolio-section-item {
  height: 18;
  width: 200%;
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio-section-inner {
  position: relative;
  width: 34rem;
  height: 18rem;
  border: 1px solid rgba(255, 255, 255, 0.185);
  transition: 0.5s;
}
.portfolio-section-inner:hover {
  border: 1px solid rgb(255, 255, 255);
}
.portfolio-circle {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background: #5966fd;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #fff;
  transform: translate(-60%, -50%);
}
.portfolio-circle-bottom {
  width: 0.7rem;
  border: 1px solid #fff;
  height: 0.7rem;
  border-radius: 50%;
  background: #5966fd;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-60%, 50%);
}
.portfolio-bg {
  position: absolute;

  width: 23rem;
  height: 20rem;
}
.portfolio-bg > img {
  width: 100%;
  max-height: 100%;
}
.project-title-ico {
  position: relative;
  width: 3rem;
  height: 3rem;
}
.pt-ico-wrapper {
  position: absolute;
  height: 2.2rem;
  width: 1.1rem;
  border-radius: 0% 100% 100% 0% / 0% 50% 50% 0%;
  border: 1px solid #fff;
  left: 0;

  top: 390%;
  transform: translateY(-50%);
  transition: all 0.5s ease-in;
}
.pt-ico-small-circle {
  position: absolute;
  height: 0.7rem;
  width: 0.35rem;
  border-radius: 0% 100% 100% 0% / 0% 50% 50% 0%;
  border: 1px solid #fff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #f5c37c;
}
.pt-ico-line {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 2.2rem;
  height: 1px;
  background: #fff;
  transition: all 0.5s ease-in;
}
.project-image {
  position: absolute;
  width: 85%;
  height: 90%;
  right: 0.8rem;
  top: 0.8rem;
  overflow: hidden;
}
.project-image > img {
  min-width: 100%;
  height: 100%;
}
.project-description {
  position: absolute;
  width: 100%;
  height: 100%;
}
.project-item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.project-title {
  width: 100%;
  position: absolute;
  display: flex;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
  left: 0;
  top: 80%;
  transform: translateY(-20%);
  text-transform: uppercase;
  transition: all 0.5s ease-in;
}
.project-dark-bg {
  position: absolute;
  width: 100%;
  height: 5rem;
  opacity: 80%;
  background: #020611;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in;
}
.product-description-text {
  position: absolute;
  width: 80%;
  bottom: -100%;
  left: 3rem;
  font-size: 1rem;
  line-height: 1.9rem;
  color: #fff;
  transition: all 0.5s ease-in;
}
.project-item:hover .project-dark-bg {
  height: 100%;
  border-radius: 1rem 0 0 0;
}
.project-item:hover .product-description-text {
  bottom: 1rem;
}
.project-item:hover .project-title {
  top: 50%;
  transform: translateY(-50%);
  color: #f5c37c;
}
.project-item:hover .pt-ico-wrapper {
  top: 50%;
}
.project-item:hover .pt-ico-line {
  transform: translateY(-50%) rotate(0deg);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-130%);
  transition: all 0.3s ease-in;
  background: #e4e4e4;
  z-index: 155;
}
.active-menu .menu {
  transform: translateY(0);
}
.active-menu {
  overflow: hidden;
}
.menu-close-btn {
  position: absolute;
  top: 1.8rem;
  right: 2.1rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.menu-close-btn img {
  width: 100%;
}
.menu-close-btn:hover {
  transform: scale(0.9);
}
.menu-sections {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.menu-sections a {
  text-decoration: none;
  color: #f274cc;
  margin: 6.25rem;
  width: auto;
}

.menu-sections a:hover {
  color: #5966fd;
}

.line-horison {
  position: absolute;
  width: 2rem;
  height: 1px;
  background: #fff;
  top: -1px;
  left: -1rem;
}
.line-vert {
  position: absolute;
  width: 1px;
  height: 1rem;
  background: #fff;

  left: -1px;
}
.line-vert2 {
  position: absolute;
  width: 1px;
  height: 2rem;
  background: #fff;
  top: -1rem;
  left: -1.5px;
}
.line-vert3 {
  position: absolute;
  bottom: 0;
  width: 1px;

  background: #fff;
  height: 1.3rem;
  left: -1px;
}
.line-horison3 {
  position: absolute;
  bottom: -1px;
  width: 1.3rem;
  height: 1px;
  background: #fff;
}
.portfolio-bg1 {
  left: 16rem;
  position: absolute;
  width: 52rem;
  height: 52rem;
  top: 24rem;
}
.portfolio-bg1 img {
  width: 100%;
}
.hello-text-svg{
  position: absolute;
  width: 21rem;
  top: -2rem;
  left: -5.2rem;
}
.hello-text-svg img{
  width: 100%;
}
.hello-text {
  display: none;
}
.mobile-menu-arrow{
  display: none;
}
.planet-wrapper{
  position: relative;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;


}
.planet-line{
  position: absolute;
  right: -2.5rem;
  top: 50%;
  transform:translateY(-50%);
  width: 2.5rem;
  height: 1px;
  background:#fff;
}
.planet-big{
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  -webkit-animation: rotationBig 6s infinite linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.planet-big>img{
  width: 100%;
  height: 100%;
  position: absolute;

}
.planet-mid{
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: rotationSmall 2.9s infinite linear;


}
.planet-mid>img{
  width: 100%;
  height: 100%;

  position: absolute;

}
.planet-small{
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;


}
.planet-small>img{
  position: absolute;
  width: 100%;
  height: 100%;
}
.who-we-are-planet{
  width: 8rem;
  position: relative;
  user-select: none;
}
.mobile-portfolio-container{
  display: none;
}
@-webkit-keyframes rotationBig {
  from {
    -webkit-transform: rotate(0deg) ;
  }
  to {
    -webkit-transform: rotate(360deg) ;
  }
}

@-webkit-keyframes rotationSmall {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@media screen and (max-width: 480px) {
  :root {
    font-size: 4.2vw;
  }
  .logo {
    width: 6rem;
  }
  .logo-link {
    margin-left: 1.2rem;
  }
  .menu-burger {
    margin-right: 1.2rem;
  }
  .austronaut {
    display: none;
  }
  .who-we-are-top {
    width: 90%;
    font-size: 18px;
    margin: 30px auto;
  }
  .who-we-are-goto{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  .who-we-are-content {
    position: relative;
    width: 100%;
    margin: 5rem auto;
  
    flex-direction: column;
  }
  .team-pic{
    width: 18.75rem;
    height: 25rem;
    align-self: flex-end;
  }
  .hello-text-svg{
  
    width: 12.5rem;
    top: -1rem;
    left: 1.6rem;
  }
  .about-scorpio-text-wrapper{
    width: 92%;
    margin: 2rem auto;
  }
  .about-scorpio-heading{
    font-size: 20px;
    margin-bottom: 2rem;
    letter-spacing: 0.05rem;
  }
  .about-scorpio-reg-text{
    font-size: 14px;
  }
  .partners-top{
    width: 90%;
  }
  .partners{
    height: 44rem;
  }
  .partner-logos-slider{
    transform: translate(-50%, -50%) rotate(90deg);
    width: 30rem;
    height: 11rem;
    top: 54%;
  }
  .partners-logos{
    transform: rotate(-90deg);
    height: 11rem;
  }
  .slick-next {
  right: -3.5rem !important;
  }
  .slick-next:hover {
    background: url("../imgs/arrow-next.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate(0, -50%) scaleX(1);
    filter: none;
  }
  .portfolio-container{
    display: none;
   
  }
  .portfolio-top{
    width: 90%;
    margin-bottom: 2.5rem;
  }
  .portfolio-bg1{
    display: none;
  }
  .mobile-portfolio-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mobile-project-item{
    position: relative;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.185);
    height: 14.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-project-item:last-child{
    border-bottom:  1px solid rgba(255, 255, 255, 0.185);
  }
  .prtfolio-link{
    position: absolute;
    bottom: 2.5rem;
    right: 1rem;
  }
  .portfolio{
    padding-top: 2.5rem;
    padding-bottom: 6rem;
  }
  .mobile-project{
    position: relative;
    background: #020611;
    width: 22.3rem;
    height: 13rem;
  }
  .mobile-project-pic{
    overflow: hidden;

    width: 100%;
    height: 100%;
  }
  .mobile-project-pic img{
    min-width: 100%;
    height: 100%;
  }
  .mobile-project-title-wrap{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3rem;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
  }
  .mobile-project-title-wrap p{
    margin-left: .8rem;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: normal;
  }
  .mobile-circle-left,
  .mobile-circle-right,
  .mobile-circle-right-bottom,
  .mobile-circle-left-bottom{
    width: 10px;
    height: 10px;
    background: #5966fd;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 20;
  }
  .mobile-circle-left{
    top: -6px;
    left: -5px;
  }
  .mobile-circle-right{
    top: -6px;
    right: -5px;
  }
  .mobile-circle-left-bottom{
    bottom: -6px;
    left: -5px;
  }
  .mobile-circle-right-bottom{
    bottom: -6px;
    right: -5px;
  }
  .mobile-line-left:after{
    content: '';
    position: absolute;
    height: 1px;
    width: 10px;
    top: 50%;
    transform: translateY(-50%);
    right:  -10px;
    background: #fff;

  }
  .mobile-line-right:after{
    content: '';
    position: absolute;
    height: 1px;
    width: 10px;
    top: 50%;
    transform: translateY(-50%);
    left:  -10px;
    background: #fff;
  }
  .footer-container{
    flex-direction: column;
    margin: 40px auto;
    width: 22.3rem;
  }
  .footer-address-heading{
    margin-bottom: 30px;
    font-size:24px ;
  }
  .footer-address{
    flex-direction: column;
    font-size: 14px;
  }
  .footer-address-left {
    display: flex;
  }
  .footer-address-left>p{
    margin-right: 3px;
  }
  .footer-address-right {
    line-height: 20px;
  }
  .footer-right{
    margin-top: 40px;
  }
  .footer-ico{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 34px 0 0  ;
  }
  .menu-close-btn img{
    filter: brightness(0);

  }
  .menu-sections{
    font-size: 24px;
    flex-direction: column;
    top: 37%;
  }
  .menu-sections a{
    margin: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .mobile-menu-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
  }
  .mobile-menu-arrow img{
    width: 100%;
  }
  .menu-close-btn{
    top: 1.6rem;
    right: 1.6rem;
  }
}
